@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
}

#Hero-image {
  box-sizing: border-box;
  background-image: url("./assets/images/Home-CD-Guayana.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-primary {
  background-color: #2563eb;
}
