@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  font-family: "Inter", sans-serif;
}

#Hero-image {
  box-sizing: border-box;
  background-image: url("./assets/images/Home-CD-Guayana.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-primary {
  background-color: #2563eb;
}

.bg-footer {
  /* color:  */
  background-color: #020617;
}

.footer-title {
  color: #ffffff;
  opacity: 100%;
  text-transform: none;
}

.footer-secondary-color {
  color: #94a3b8;
}

.footer-link {
  text-decoration: none;
  transition: text-decoration 0.5s ease;
}

.footer-link:hover {
  text-decoration: underline;
}
